<h1> <%= @team.name %> </h1><br>
<h2>Team Motto:<%= @team.motto %> </h2><br>

<% .each do |info| %>
<h2>Hero Name: <%=  %> </h2><br>
<p>Hero Power: <%=  %> </p>
<p>Hero Biography: <%=  %> </p>
<% end %>

